@import './core.scss';

.create-task{
    grid-area: task;
    padding: 0.7em 1.5em;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 20vh;
    min-width: 0;
    .tabs{
      margin: 0;
    }
    .tabs button{
      border-radius: 0 ;
      border-bottom: 1px solid #00426947;
      color: #06330099;
      font-family: 'Inter';
    }
    .tabs button:hover{
      color: $brand-color;
      border-bottom: 1px solid $brand-color;
      border-bottom-left-radius: 0;
    }
  
    textarea{
      margin: 0.5rem 0 0 0.5rem;
      border-style: none;
      resize: none;
      outline: none;
      font-size: 0.9em;
      font-family: 'Montserrat';
    }
    .file-field{
      margin: 1vh 0;
      span{
        font-size: 0.8em;
        margin-left: 0.5em;
      }
      .file {
        opacity: 0;
        width: 0.1px;
        height: 0.1px;
        position: absolute;
      }
    }
    .send-btn{
      
      &:last-child{
        background-color: #fff;
        color: $grey;
        &:hover{
          border: 1px solid #aaaaaa;
        }
      }
      &:hover{
        border: 1px solid #a70903;
      }
      @extend %btn
    }
  }