.Theme_color_planiDefault {
	/* ////////////////
	// Цвета фонов / */
	--color-bg-default: #FFFFFF; /* Цвет дефолта */
	--color-bg-secondary: #FFFFFF; /* Цвет дефолта */
	--color-bg-brand: #E94C46; /* Цвет фона брендированый */
	--color-bg-link: #E94C46; /* Цвет фона ссылки */
	--color-bg-border: rgba(26, 26, 26, 0.2); /* Цвет границ */
	--color-bg-stripe: rgba(0, 0, 0, 0.06); /* Цвет зебры */
	--color-bg-ghost: rgba(0, 0, 0, 0.1); /* Цвет затенения */
	--color-bg-tone: rgba(0, 0, 0, 0.85); /* Цвет паранджи */
	--color-bg-soft: rgba(255, 255, 255, 0.9); /* Цвет молока */
	--color-bg-system: #DEE4E8; /* Цвет фона системнный */
	--color-bg-normal: #56B9F2; /* Цвет фона нейтральный */
	--color-bg-success: #22C38E; /* Цвет фона успеха */
	--color-bg-caution: #F2C94C; /* Цвет фона осторожности */
	--color-bg-warning: #F38B00; /* Цвет фона предупреждения */
	--color-bg-alert: #EB5757; /* Цвет фона ошибки */
	--color-bg-critical: #33000F; /* Цвет фона системнный */


	/* /////////////////
	// Цвета текста / */
	--color-typo-primary: #000000; /* Цвет основного текста */
	--color-typo-secondary: rgba(0, 0, 0, 0.6); /* Цвет второстепенного текста */
	--color-typo-ghost: rgba(0, 0, 0, 0.3); /* Цвет дополнительного текста */
	--color-typo-brand: #E94C46; /* Цвет брендового текста */
	--color-typo-system: #97B2C4; /* Цвет текста системнный */
	--color-typo-normal: #35B5FF; /* Цвет текста нейтральный */
	--color-typo-success: #09B37B; /* Цвет текста успеха */
	--color-typo-caution: #FFA30C; /* Цвет текста осторожности */
	--color-typo-warning: #E77602; /* Цвет текста предупреждения */
	--color-typo-alert: #EB3434; /* Цвет текста ошибки */
	--color-typo-critical: #33000F; /* Цвет текста системнный */
	--color-typo-link: #E94C46; /* Цвет основной ссылки */
	--color-typo-link-minor: #B54B47; /* Цвет второстепенной ссылки */
	--color-typo-link-hover: #ED6F6B; /* Цвет ховера ссылки */


	/* ////////////////////
	// Цвета контролов / */
	
	/* Default */
	--color-control-bg-default: #FFFFFF; /* Цвет фона контрола */
	--color-control-typo-default: #000000; /* Цвет основного текста контрола */
	--color-control-typo-placeholder: rgba(0, 0, 0, 0.35); /* Цвет плейсхолдера контрола */
	--color-control-bg-border-default: rgba(0, 0, 0, 0.28); /* Цвет фона бордеров котрола */
	--color-control-bg-border-default-hover: rgba(0, 0, 0, 0.52); /* Цвет фона бордеров котрола по ховеру */
	--color-control-bg-border-focus: #EE746F; /* Цвет аутлайна контролов при фокусе */
	--color-control-bg-focus: rgba(233, 76, 70, 0.3); /* Цвет тени в состонии фокуса */
	--color-control-bg-active: rgba(233, 76, 70, 0.5); /* Цвет тени в состонии нажатия */
	
	/* Primary */
	--color-control-bg-primary: #E94C46; /* Цвет фона активного контрола */
	--color-control-bg-primary-hover: #EE746F; /* Цвет фона активного контрола по ховеру */
	--color-control-typo-primary: #FFFFFF; /* Цвет акцентного текста */
	--color-control-typo-primary-hover: #FFFFFF; /* Цвет акцентного текста */
	
	/* Secondary */
	--color-control-bg-secondary: rgba(255, 255, 255, 0); /* Цвет фона бордеров контрола */
	--color-control-bg-border-secondary: #E94C46; /* Цвет фона бордеров котрола */
	--color-control-bg-border-secondary-hover: #EE746F; /* Цвет фона бордеров контрола по ховеру */
	--color-control-typo-secondary: #E94C46; /* Цвет второстепеного текста контрола */
	--color-control-typo-secondary-hover: #EE746F; /* Цвет акцентного текста */
	
	/* Ghost */
	--color-control-bg-ghost: rgba(0, 0, 0, 0.07); /* Цвет фона дополнительного контрола */
	--color-control-bg-ghost-hover: rgba(0, 0, 0, 0.05); /* Цвет фона дополнительного контрола по ховеру */
	--color-control-typo-ghost: rgba(20, 20, 20, 0.8); /* Цвет дополнительного текста контрола */
	--color-control-typo-ghost-hover: rgba(20, 20, 20, 0.75); /* Цвет дополнительного текста контрола по ховеру */
	
	/* Clear */
	--color-control-bg-clear: rgba(0, 0, 0, 0); /* Цвет фона чистого контрола */
	--color-control-bg-clear-hover: rgba(0, 0, 0, 0.05); /* Цвет фона чистого контрола по ховеру */
	--color-control-typo-clear: rgba(20, 20, 20, 0.8); /* Цвет акцентного текста */
	--color-control-typo-clear-hover: rgba(20, 20, 20, 0.75); /* Цвет акцентного текста */
	
	/* Disable */
	--color-control-bg-disable: rgba(0, 0, 0, 0.07); /* Цвет фона неактивного контрола */
	--color-control-bg-border-disable: rgba(0, 0, 0, 0); /* Цвет фона бордеров неактивного контрола */
	--color-control-typo-disable: rgba(0, 0, 0, 0.26); /* Цвет основного текста неактивного контрола */


	/* ///////////////
	// Цвета тени / */
	--color-shadow-group-1: rgba(0, 32, 51, 0.02);
	--color-shadow-group-2: rgba(0, 32, 51, 0.16);
	--color-shadow-layer-1: rgba(0, 32, 51, 0.04);
	--color-shadow-layer-2: rgba(0, 32, 51, 0.12);
	--color-shadow-modal-1: rgba(0, 32, 51, 0.04);
	--color-shadow-modal-2: rgba(0, 32, 51, 0.12);
}

