@import './sass/elements/header.scss'; 
@import './sass/elements/deal.scss';
@import './sass/elements/create-task.scss';
@import './sass/elements/events.scss';
@font-face {
  font-family: 'Montserrat';
  src:local('Montserrat') 
      url('./fonts/Montserrat-VariableFont_wght.ttf') format("woff2"),
      url('./fonts/Montserrat-VariableFont_wght.ttf') format("woff"),
      url('./fonts/Montserrat-VariableFont_wght.ttf') format("ttf"),
      url('./fonts/Montserrat-VariableFont_wght.ttf') format("svg");
}
body{
  background-color: $grey-background;
  margin: 0;
  padding: 5vh 0 0 4vw ;
  height: 95vh;
  width: 96vw;
  font-family: "Montserrat";
  font-weight: 400;
}
::-webkit-scrollbar {
  width: 0;
}
.main{
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  grid-template-rows: 0.2fr 0.8fr;
  justify-content: stretch;
  grid-template-areas: 
    "deal task"
    "deal event";
  gap: 1%;
}
.btn-header{
  &:last-child{
    &:hover{
      border: 1px solid #aaaaaa;
    }
  }
  &:hover{
    border: 1px solid #a70903;
  }
}
@media (max-width: 800px) {
  .main{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-content: start;
    grid-template-areas: 
    "deal"
    "task"
    "event";
    gap: 1%;
  }
  .deal-section{
    overflow: hidden;
    margin-bottom: 10px;
  }
  .header{
    h2{
      font-size: 1em;
      overflow: scroll;
    }
  }
  .deal{
  }
  body{
    padding: 3vh 0 0 0 ;
    width: 100vw;
  }
  .create-task{
    padding: 1em;
    .tabs{
      overflow: scroll;
      button{
        font-size: 1em;
      }
    }
  }
}
